body {
  color: #003B29;
  font-family: "Arima", cursive;
  background: linear-gradient(#ACDEA5, #019267) fixed;
}

header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 56px;
}

main {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 24px;
  background: #BFECB8;
  padding: 10px 20px;
  border-radius: 15px;
}

.btns {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btns div {
  width: 600px;
  display: flex;
  justify-content: space-between;
}


button {
  font-size: 30px;
  background: #B8F1B0;
  padding: 10px 20px;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.worlds {
  margin: 50px 0;
}
p {
  font-size: 36px;
}

.hidden {
  display: none;
}